 body {
 background-image: linear-gradient(195deg, rgb(180,206,217) 50%, rgb(88,126,140) 50%)
}

p {
	font-family: ubuntu, sans-serif;
	margin-top: 100px;
  	margin-bottom: 100px;
  	margin-right: 100px;
  	margin-left: 100px;
}

h1 {
	font-family: 'Odibee Sans', serif;
	font-size: 56px;
}

h2 {
	font-family: 'Odibee Sans', serif;
	font-size: 32px;
}

h4 {
	font-family: 'Odibee Sans', serif;
	font-size: 28px;
}

li {
	font-family: ubuntu, sans-serif;
}
