 body {
 background-image: linear-gradient(240deg, rgb(144,238,144) 50%, rgb(255,152,23) 50%)
}

p {
	font-family: ubuntu, sans-serif;
}

h1 {
	font-family: 'Odibee Sans', serif;
	font-size: 56px;
}

h2 {
	font-family: 'Odibee Sans', serif;
	font-size: 32px;
}

h4 {
	font-family: 'Odibee Sans', serif;
	font-size: 28px;
}

li {
	font-family: ubuntu, sans-serif;
}
